<div style="background-image: url(../../../assets/images/back.jpg); height: 100%; position: absolute;top: 0; right: 0; bottom: 0; left: 0;">

    <!-- <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form" flex>
        <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Login Form</span></h2>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="loginForm">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input type="text" name="username" ng-model="login.formData.username" placeholder="username" required=""/>
                        <div ng-messages="" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your username.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="login.formData.password" placeholder="password" required=""/>
                        <div ng-messages="" role="alert" multiple="">
                            <div ng-message="required" class="my-message">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="!loginForm.$valid" ng-click="login.doLogin(login.formData)" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
    </md-content>-->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="login.formData.username" required autofocus>
                <input type="password" ng-model="login.formData.password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="login.doLogin(login.formData)">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div>

    <!--Login toast area-->
    <br/>
    <br/>
    <br/>
    <div id="toastParent"></div>
</div>
