
    <div class="col-md-12" id="consoleTabs" name="consoleTabs">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card1 hovercard">
                <div class="card1header">

                </div>
                <div class="avatar">
                    <img alt="" src="../../../assets/images/avatar.png">
                </div>
                <div class="info">
                   =
                    <div class="desc">Isuru Prasad</div>
                    <div class="desc">Parent</div>
                </div>
            </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4" ng-show="main.isAdmin">
                <md-card md-theme="dark-grey" md-theme-watch class="animated bounceIn" >
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">User Management</span>
                            <span class="md-subhead">Everything related to user management</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media user-mgt-card"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ui-sref="dashboard.main-view.management">View</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-md-4" ng-show="!main.isAdmin">
                <md-card md-theme="dark-grey" md-theme-watch class="animated bounceIn" >
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">User Services</span>
                            <span class="md-subhead">Contact admin</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media service-mgt-card"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ui-sref="dashboard.main-view.services">View</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card md-theme="dark-grey" md-theme-watch class="animated bounceIn">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Reminders</span>
                            <span class="md-subhead">School payaments</span>
                            <span class="md-subhead">Term tests</span>
                            <span class="md-subhead">Home works</span>
                            <span class="md-subhead">Shool van payaments</span>
                        </md-card-title-text>
                    <md-card-actions layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary" ui-sref="dashboard.reminder">View</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>

    </div>