<div layout="column" ng-show="notification.isParent">
    <md-content style="height: 600px;" md-theme="altTheme">
        <section>
            <md-list layout-padding="">
                <md-list-item class="md-3-line" ng-repeat="item in notification.notifications"
                              ng-click="null">
                    <img ng-src="https://www.flaticon.com/premium-icon/icons/svg/201/201495.svg"
                         class="md-avatar">
                    <div class="md-list-item-text" layout="column">
                        <h3>
                            <b> {{ item.title}} </b>
                            <p> {{ item.description}} </p>
                            <p> {{ item.by}} </p>
                            <h4>{{item.publishedDateTime |ago}}</h4>
                        </h3>
                    </div>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>
