<div ng-cloak ng-show="analytics.isTeacher">
    <mg-content>
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="View Marks/Grades Graphically">

                <md-content>
                    <form name="marksGraphForm" id="marksGraphForm" novalidate>

                        <div layout="column">
                            <md-input-container>
                                <label>Class</label>
                                <md-select ng-model="marksGraphForm.class" required>
                                    <md-option ng-repeat="class in analytics.teacherViewClasses track by $index" ng-value="class" ng-click="analytics.teacherViewSetTerms(class)">
                                        {{class.class}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="column">
                            <md-input-container>
                                <label>Term</label>
                                <md-select ng-model="marksGraphForm.term" required>
                                    <md-option ng-repeat="term in analytics.teacherViewTerms track by $index" ng-value="term" ng-click="analytics.teacherViewSetRelaventSubjects(term)">
                                        {{term}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="column">
                            <md-input-container>
                                <label>Type</label>
                                <md-select ng-model="marksGraphForm.graphType" required>
                                    <md-option ng-repeat="type in analytics.GraphTypes" ng-value="type.typeName" ng-click="analytics.teacherViewSetTypeOfGraph(type.typeName)">
                                        {{type.typeName}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="column" ng-show="analytics.teacherViewShowSubjects">
                            <md-input-container>
                                <label>Subject</label>
                                <md-select ng-model="marksGraphForm.subject" required>
                                    <md-option ng-repeat="subject in analytics.teacherViewSubjects track by $index" ng-value="subject" ng-click="analytics.teacherViewSetRelevantMarks(subject)">
                                        {{subject}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-card-actions layout="row" layout-align="end center">
                            <md-button  ng-click="analytics.teacherViewShowOnGraph()" class="md-raised md-primary" ng-show="analytics.teacherViewShowGraphGenarate">Generate Graph</md-button>
                        </md-card-actions>

                    </form>

                </md-content>
            </md-tab>

            <md-tab label="View Track Performance Graphically">
                <md-content class="md-padding">
                    <form name="trackPerformanceGraphForm" id="trackPerformanceGraphForm" novalidate>

                        <div layout="column">
                            <md-input-container>
                                <label>Student</label>
                                <md-select ng-model="TPGraphForm.student">
                                    <md-option ng-repeat="student in analytics.teacherViewStudentsOnTrackPerformance track by $index">
                                        {{student.studentIdAndName}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <md-card-actions layout="row" layout-align="end center">
                            <md-button  ng-click="analytics.teacherViewShowOnTrackPerformanceGraph()" class="md-raised md-primary">Generate Graph</md-button>
                        </md-card-actions>

                    </form>
                </md-content>
            </md-tab>

        </md-tabs>
    </mg-content>
</div>
