<div  class="home-background-container"></div>
<div class="home-container">
    <div class="home-content">
        <div class="text-container text-center">
            <h1 class="animated fadeInUp">Shilpa</h1>
            <h4 class="animated fadeIn">Learning Management System</h4>
            <a href="#/login"><button>Go To Console</button></a>
        </div>
        <div class=" text-center home-footer">

        </div>
    </div>
</div>