.login-form .md-card {
    padding: 0 !important;
}

.login-form .md-card-title {
    background-color: blue;
}

md-toast {
    left: calc(50vw - 150px);
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #388e3c;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: #d32f2f;
}

md-toolbar {
    .md-button.md-default-theme {
        border-radius: 99%;
    }
}

.md-toolbar-tools-bottom {
    font-size: small;
& :last-child {
      opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

.card-media {
    background-color: #ffffff;
    background-size: 100%;
    /*background-image: url("../assets/images/user-group.png");*/
}

.user-mgt-card {
    background-color: #ffffff;
    background-image: url("../assets/images/network.png");
}

.notice-mgt-card {
    background-color: #ffffff;
    background-image: url("../assets/images/protest.png");
}

.service-mgt-card {
    background-color: #ffffff;
    background-image: url("../assets/images/customer-service.png");
}

.activity-mgt-card {
    background-color: #ffffff;
    background-image: url("../assets/images/line-chart.png");
}

.storage-mgt-card {
    background-color: #ffffff;
    background-image: url("../assets/images/database.png");
}



.chipsdemoContactChips md-content.autocomplete {
    min-height: 250px; }
.chipsdemoContactChips md-content.autocomplete input {
    min-width: 400px; }

.chipsdemoContactChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px; }

.chipsdemoContactChips .contact-item {
    box-sizing: border-box; }
.chipsdemoContactChips .contact-item.selected {
    opacity: 0.5; }
.chipsdemoContactChips .contact-item.selected h3 {
    opacity: 0.5; }
.chipsdemoContactChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px; }
.chipsdemoContactChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important; }
.chipsdemoContactChips .contact-item .md-list-item-text h3, .chipsdemoContactChips .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
@media (min-width: 960px) {
    .chipsdemoContactChips .contact-item {
        float: left;
        width: 33%; } }

.chipsdemoContactChips md-contact-chips {
    margin-bottom: 10px; }

.chipsdemoContactChips .md-chips {
    padding: 5px 0 8px; }

.chipsdemoContactChips .fixedRows {
    height: 250px;
    overflow: hidden; }


.add-group-dialog {
    width: 800px;
}

.selected-user-area{
    background-color: #e0e0e0;
}

.selected-user-area-header {
    margin-top: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    background-color: #37474F;
}

.md-button.md-fab.md-fab-bottom-right:hover {
    background-color: #263238;
}

.md-button.md-fab.md-fab-bottom-right:focus {
    background-color: #37474F;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(104, 145, 162);
}

.forgot-password {
    color: rgb(104, 145, 162);
}



.card1 {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card1 .card1-heading {
    padding: 0 20px;
    margin: 0;
}

.card1 .card1-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card1 .card1-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card1 .card1-heading.image .card1-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card1 .card1-heading.image .card1-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card1 .card1-heading.image .card1-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card1 .card1-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card1 .card1-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card1 .card1-media img {
    max-width: 100%;
    max-height: 100%;
}

.card1 .card1-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card1 .card1-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card1 .card1-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card1 .card1-comments .comments-collapse-toggle a,
.card1 .card1-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card1-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card1.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card1.people:first-child {
    margin-left: 0;
}

.card1.people .card1-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card1.people .card1-top.green {
    background-color: #53a93f;
}

.card1.people .card1-top.blue {
    background-color: #427fed;
}

.card1.people .card1-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card1.people .card1-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card1.people .card1-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card1.people .card1-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card1.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card1.hovercard .card1header {
    background: url("https://images.freecreatives.com/wp-content/uploads/2016/03/Colorful-Material-Design-Background.jpg");
    background-size: cover;
    height: 135px;
}

.card1.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card1.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card1.hovercard .info {
    padding: 4px 8px 10px;
}

.card1.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card1.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card1.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
